<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BeerTag - About</title>
    <link rel="stylesheet" href="../static/css/styles.css"/>
</head>
<body>
<!-- The header and footer section are the same in each page -->
<header>
    <div style="display: flex; align-items: center; justify-content: space-between; padding: 10px 50px;">
        <img src="../static/images/logo.png" alt="BeerTag Logo" style="width: 100px; height: auto;">
        <h3>
            <a href="./HomeView.html">Home</a>
            | <a href="./BeersView.html">Beers</a>
            | <a href="./About.html">About</a>
        </h3>
        <img src="../static/images/logo.png" alt="BeerTag Logo" style="width: 100px; height: auto;">
    </div>
</header>
<div class="body-content">
    <h1>About BeerTag!</h1>
    <p>BeerTag is a web application designed to help beer enthusiasts discover new beers and learn more about their favorite brands.</p>
    <p>Our mission is to:</p>
    <ul>
        <li>Provide detailed information about beers, including their name, alcohol by volume (ABV), and style.</li>
        <li>Create a platform where beer lovers can explore and share their experiences.</li>
    </ul>
    <p>We hope you enjoy using BeerTag and find it useful in your beer exploration journey!</p>
</div>

<footer>
    <small>©️ Copyright 2024, BeerTag</small>
</footer>
</body>
</html>