<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beer - List</title>
    <link rel="stylesheet" href="../static/css/styles.css"/>
</head>
<body>
<header>
    <div style="display: flex; align-items: center; justify-content: space-between; padding: 10px 50px;">
        <img src="../static/images/logo.png" alt="BeerTag Logo" style="width: 100px; height: auto;">
        <h3>
            <a href="./HomeView.html">Home</a>
            | <a href="./BeersView.html">Beers</a>
            | <a href="./About.html">About</a>
        </h3>
        <img src="../static/images/logo.png" alt="BeerTag Logo" style="width: 100px; height: auto;">
    </div>
</header>

<div class="body-content">
    <h1>Beer list</h1>
    <table class="table">
        <thead class="header">
        <tr class="row">
            <th class="header-cell">Beer name</th>
            <th class="header-cell">abv</th>
            <th class="header-cell">style</th>
        </tr>
        </thead>
        <tbody class="rowGroup">
        <tr class="row">
            <td class="cell">Zagorka</td>
            <td class="cell">5.0</td>
            <td class="cell">light</td>
        </tr>
        <tr class="row">
            <td class="cell">Corona</td>
            <td class="cell">5.5</td>
            <td class="cell">light</td>
        </tr>
        <tr>
            <td class="cell">Stolichno dark</td>
            <td class="cell">5.2</td>
            <td class="cell">Dark</td>
        </tr>

        </tbody>
    </table>
</div>

<footer>
    <small>©️ Copyright 2024, BeerTag</small>
</footer>
</body>
</html>