<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BeerTag - Home</title>
    <link rel="stylesheet" href="../static/css/styles.css"/>
</head>
<body>
<header>
    <div style="display: flex; align-items: center; justify-content: space-between; padding: 10px 50px;">
        <img src="../static/images/logo.png" alt="BeerTag Logo" style="width: 100px; height: auto;">
        <h3>
            <a href="./HomeView.html">Home</a>
            | <a href="./BeersView.html">Beers</a>
            | <a href="./About.html">About</a>
        </h3>
        <img src="../static/images/logo.png" alt="BeerTag Logo" style="width: 100px; height: auto;">
    </div>
</header>
<div class="body-content">
    <h1>Welcome to BeerTag!</h1>
    <p>BeerTag is your ultimate destination for discovering and exploring different types of beers.</p>
    <p>Here, you can:</p>
    <ul>
        <li>Browse our extensive list of beers.</li>
        <li>Learn about their alcohol content (ABV) and styles.</li>
        <li>Find your next favorite beer!</li>
    </ul>
</div>

<footer>
    <small>©️ Copyright 2024, BeerTag</small>
</footer>
</body>
</html>